<h1>posts#show</h1>
<div class="post">
    <p><%= @post.title %></p>
    <p>
        <% if @post.image.present? %>
            <%= image_tag @post.image_url, size: '250x200'%>
        <% else %>
            <%= image_tag "nonono.png", size: '250x200' %>
        <% end %>
    </p>
    <% if user_signed_in? %>
        <% if current_user.already_liked?(@post) %>
            <%= link_to post_like_path(id: @post.id, post_id: @post.id), method: :delete do %>
                <i class="fas fa-heart"></i><%= @post.likes.count %>
            <% end %>
        <% else %>
            <%= link_to post_likes_path(id: @post.id, post_id: @post.id), method: :post do %>
                <i class="far fa-heart"></i><%= @post.likes.count %>
            <% end %>
        <% end %>
    <% else %>
        <i class="far fa-heart"></i><%= @post.likes.count %>
    <% end %>
    <p><%= @post.contents %></p>
</div>
    <div class="comment-wrapper">
    <p>コメント一覧</p>
    <hr>
        <div id="messages">
            <%= render @comments %>
        </div>
    <hr>
        <% if user_signed_in? %>
            <input type="text" name="comment[content]" data-behavior="post_speaker" placeholder="Enterで送信">
        <% end %>
        
    </div>

<%= link_to "編集する", edit_post_path(@post.id) %>
<%= link_to "post一覧に戻る", posts_path %>